header{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100vh;
}
header video{
    height: 100vh;
}
.headerShadow{
    margin-top: 50vh;
    width: 100%;
    height: 50vh;
    top: 0;
}
.headerVidio{
    min-width: 100%;
    min-height: 100%;
}
.content {
    margin-top: 28vh;
    margin-left: 15vw;
    color: #ffffff;
    /* width: 100%; */
  }
  .content h1{
    font-size: 4.5em;
    font-weight: 700;
    margin: -20px;
    padding: 0;
    letter-spacing: 3px;
  }
.ScrollDownIcon{
    margin-top: 80vh;
    width: 100%;
}
.homeDescription{
    background-color: rgb(0, 0, 0);
    /* height: 100vh; */
    padding: 2vw;
    width: 100%;
}
.homeDescription p{
    font-size: 1.2em;
    width: 36vw;
    /* background-color: blue; */
    color: #ffffff;
}
.ourGame{
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    background-color: black;
    padding: 2vw;
}
.ourGame .title{
    color: white;
    font-size: 2rem;
    font-weight: 600;
}
.ourGame .gameCard{
    /* width: 80%; */
}
.ourGame .gameCard .card{
    background-color: #ffffff;
    justify-self: center;
    width: 100%;
    height: 22vw;
    padding: 1rem
    /* border-radius: 10px; */
}
.ourGame .gameCard div div{
    background-color: rgb(81, 81, 81);
}
.recentWorks{
    width: 100%;
    background-color: black;
}
.recentWorks .title{
    color: white;
    font-size: 2rem;
    font-weight: 600;
}
